.section-clothes {
    padding-top: 30px;
    position: relative;
}


/*-------------------------------section-clothes-------------------------------*/

.clothes__type {
    padding-top: 62px 0 25px 0;
    border-bottom: 1px solid lightgray;
}

/*-------------------------------lookbook-link-------------------------------*/
.clothes__lookbook-link {
    text-align: center;
    padding: 40px;
}

.clothes__lookbook-link a {
    font-family: Georgia;
    font-style: italic;
    letter-spacing: 0.015em;
    word-spacing: 0.01em;
    font-size: 1.7em;
    color: #606060;
}

.clothes__lookbook-link a:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media all and (max-width:1023px) {
    .clothes__lookbook-link {
        display: none;
    }
}

/*-----------------------------------------------------------------FOOTER-----------------------------------------------------------------*/

@media all and (max-width:1023px) {
    .main[data-page='CategoryAllPage']+.footer .footer__section-gallery-scroll {
        display: none;
    }
}