.nav__list {
	height: 100%;
    display: flex;
}

@media all and (max-width:1023px) {
    .nav__list {
        border-top: 1px solid lightgray;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }
}