/*-----------------------------------------------------------------HEADER-----------------------------------------------------------------*/
.header__wrapper {
    letter-spacing: -0.04em;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 28px;
    padding-bottom: 37px;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

@media all and (max-width: 1023px) {
    .header {
        margin: 0 20px;

        &__wrapper {
            font-size: 17px;
            padding-top: 20px;
            padding-bottom: 0;
        }
    }
}

/*-------------------------------title-------------------------------*/

.navigation-box__title {
    background-color: #000;
    color: #fff;
    padding: 8px 10px;
    margin-right: 31px;

    &:hover {
        cursor: pointer;
    }
}