/*-----------------------------------------------------------------HEADER-----------------------------------------------------------------*/
.wrapper {
    letter-spacing: -0.04em;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 28px;
    padding-bottom: 37px;
    align-items: stretch;
    border-bottom: 1px solid lightgray;
    vertical-align: middle;
}

@media all and (max-width: 1023px) {
    .wrapper {
        font-size: 17px;
        padding-top: 20px;
        padding-bottom: 0;
    }
}