 .item {
     border-right: 1px solid grey;
     background-color: black;
 }

 .item a {
     display: block;
     width: 200px;
     height: 120px;
 }

 .item a:hover>img {
     opacity: 0.9;
 }

 .item img {
     height: 100%;
     width: 100%;
 }