 .gallery-scroll__item {
     border-right: 1px solid grey;
 }

 .gallery-scroll__item a {
     display: inline-block;
     width: 200px;
     height: 120px;
 }

 .gallery-scroll__item img {
     height: 100%;
     width: 100%;
 }