
.footer-navigation__nav {
    width: 290px;
    border-right: 1px solid lightgrey;
    padding-left: 15px;
}

.footer-navigation__list--first,
.footer-navigation__title--first {
    margin-left: -15px;
}

.footer-navigation__title {
    letter-spacing: 0.03em;
    line-height: 1.6em;
    font-size: 1.1em;
    text-transform: uppercase;
    font-weight: bold;
}


@media all and (max-width:1023px) {

    .footer-navigation__title {
        letter-spacing: 0.15em;
        font-size: 2.1em;
    }

   }

@media all and (max-width:767px) {
    .footer-navigation__title {
        line-height: 1.2em;
    }

    
}