.title-item__product {
    width: 10.7%;
}

.title-item__description {
    width: 45%;
}

.title-item__color {
    width: 13.7%;
}

.title-item__size {
    width: 8.8%;
}

.title-item__qty {
    width: 7.2%;
}

.title-item__amount {
    width: 9.1%
}

.title-item__delete {
    width: 5.5%
}