
.button {
       margin-top: 40px;
    padding: 20px 45px;
    background-color: #f68236;
    text-transform: uppercase;
    color: white;
      box-shadow: 0px 2px 5px grey;
}

.button:hover {
    cursor: pointer;
    box-shadow: 0px 2px 5px black;
}

.clicked {
    background-color: #008000;
}


@media all and (max-width:1023px) {
    .button {
        padding: 22px 150px;
    }
}

@media all and (max-width:767px) {
    .button {
        padding: 0;
        height: 60px;
        width: 100%;
    }
}