.tools-box {

    &__form-search {
        display: flex;
        margin-left: auto;
        margin-right: 20px;
    }

    &__input-search {
        padding: 10px;
        padding-left: 12px;
        width: 124px;
        border: 1px solid #808080;
        border-right: 0;
    }

    &__input-search::placeholder {
        font-size: 12px;
        font-style: italic;
        color: #000;
        opacity: 1;
    }

    &__button-search {
        border: 1px solid #000;
        padding: 9px 10px;

        &:hover {
            background-color: #606060;
            border-color: #808080;
            fill: #fff;
        }
    }
}

.hidden {
    display: none;
}

.clicked,
.clicked>svg {
    background-color: #606060;
    border-color: #808080;
    fill: #fff;
}